# Compiled output
/dist

# Dependency directories
/node_modules

# TypeScript cache
/.tscache

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Compiled binary addons (e.g. node-sass)
/build/Release

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*